body {
  background-color: lightblue;
}

h3 {
  font-family: Calibri;
}

figcaption {
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: cursive;
}

address {
  border-style: dotted;
  width: 300px;
  background-color: #eee;
  float: left;
}

.list {
  list-style-position: inside;
  font-family: sans-serif;
  font-size: 20px;
}

.titles {
  text-align: center;
  height: 43px;
  font-size: 30px;
  font-family: sans-serif;
}

.table1 {
  width: 50%;
  text-align: center;
}

.table2 {
  border-collapse: collapse;
  background-color: lightgreen;
}

.header {
  background-color: black;
  color: white;
}

.round {
  border-radius: 10%;
  height: 300px;
  width: 300px;
  border: 3px solid black;
}

.titleSection {
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
  color: blue;
}

.tableBorders {
  background-color: #B9D9EB;
  margin-left: auto;
  margin-right: auto;
}

.personal {
  background-color: #00FFFF;
  border: 5px groove #99FFFF;
}

.professional {
  background-color: #7DF9FF;
  border: 5px;
  border-style: groove;
  border-color: #99FFFF;
}

.projects {
  font-family: cursive;
  border: 5px groove #99FFFF;
  background-color: #99FFFF;
  overflow: hidden;
}

.projectImage {
  float: right;
}

#retrato {
  float: left;
  border: 5px solid white;
  border-radius: 50%;
}

#contact {
  color: black;
  text-align: left;
  font-style: italic;
  font-family: Calibri;
  height: 10px;
  font-size: 20px;
}

.backArrow {
  float: left;
}
